<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MadLibs!</title>
</head>
<body>
    <h1>Create Your Own Story!</h1>
    
    <form action="/created_story">
        {% for i in keys %}
        <input type="text" placeholder={{i}} name={{i}}>
        {% endfor %}
        <button>Make My Story</button>
    </form>
   
   
   
</body>
</html>